{% extends 'base.html' %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% block content %}
<br><br><br><br><br><br>
<h1 align="center">e_Doctor</h1>
<div align="center">e_Doctor is an online medical service app (Telemedicine) where patients can get doctor consultations
 on video call and can get instant online prescriptions. We have launched this product aiming to the benefits of both
 Employers and Employees at WIN - WIN basis. We offer employees to collaborate with us to provide their employers
 unlimited video consultation facilities with doctors for him and his family throughout the month at a very cheap rate.<br>
<button type="submit"><a href="{% url 'homepage' %}">Back to Homepage</a></button></div>
 {% endblock content %}